.mainContainer {
  min-height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 20px;
}

.mainContainer div {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}
